@import "../../../utils/variables.scss";

.cardBackground {
    background-color: $color-background-secondary;
    padding-top: 0px;
}

.header {
    padding-right: 8px;
}

.headerContainer {
    position: sticky;
    top: 0px;
    background-color: $color-background-secondary;
    padding-top: 10px;
}

.activeBackground {
    background-color: $color-background-highlight;
}