@import "../../../utils/variables.scss";

.commentContainer {
    color: $color-neutral;
}

.expense {
    color: $color-expense;
}

.income {
    color: $color-income;
}

.transactionContainer {
    max-width: 100%;
    padding: 5px;
}

.commentAmountContainer {
    display: flex;
}

.amountContainer {
    margin-left: auto;
}

.deleteButton {
    margin-left: auto;
}

.dateContainer {
    display: flex;
}

.tagsContainer {
    display: flex;
    flex-wrap: wrap;
}

.tag {    
    margin: 2px 7px 2px 0px;
    color: $color-neutral-light;
    font-size: 13px;
}