{
    "settings": {
        "react": {
            "pragma": "React",
            "version": "16.3"
        }
    },
    "extends": [
        "airbnb",
        "react-app",
        "plugin:prettier/recommended"
    ],
    "rules": {
        "react/jsx-filename-extension": "off",
        "import/no-extraneous-dependencies": "off",
        "jsx-a11y/label-has-for": "off",
        "react/jsx-indent": "off",
        "react/jsx-closing-bracket-location": "off",
        "react/jsx-indent-props": "off",
        "react/jsx-closing-tag-location": "off",
        "react/jsx-first-prop-new-line": "off",
        "react/jsx-max-props-per-line": "off",
        "react/jsx-tag-spacing": "off",
        "react/jsx-wrap-multilines": "off",
        "import/prefer-default-export": "off"
    }
}