{
    "extends": [
        "airbnb",
        "react-app",
        "plugin:prettier/recommended"
    ],
    "rules": {
        "react/jsx-filename-extension": "off",
        "import/no-extraneous-dependencies": "off"
    }
}