@import "../../utils/variables.scss";

.input {
    border-width: 0px;
    background-color: unset;
    min-width: 50%;
}

.container {
    display: flex;
    align-items: baseline;
    padding: 5px;
}

.label {
    margin-left: auto;
    margin-right: 10px;
}