.form {
    display: flex;
    flex-direction: column;
}

.label {
    display: flex;
    padding: 2px 10px;
    height: 25px;
    align-items: baseline;
}

.input {
    margin-left: auto;
    width: 50%;
}

.backButton {
    width: 30%;
}