@import "../../utils/variables.scss";

$navbar-height: 36px;
$transactions-container-height: calc(
    100% - #{$navbar-height}
);

.transactionsContainer {
    overflow-y: auto;
    height: $transactions-container-height;
    max-height: $transactions-container-height;
}

.navBar {
    height: $navbar-height;
}