@import "../utils/variables.scss";

.container {
    display: flex;
}

.income {
    color: $color-income;
    width: 50%;
    text-align: end;
}

.expense {
    color: $color-expense;
    width: 50%;
    text-align: end;
}