@import "../utils/variables.css";

.overlay {
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  position: fixed;
  top: 0;
  left: 0;

}

.box {
    background-color: var(--color-white);
    margin: auto;
    padding: 5px;
    z-index: 1;
}

.modalContainer {
    display: flex;
}