/* --- COLORS --- */

$color-black: rgb(40, 40, 40);
$color-blue: blue;
$color-green: green;
$color-red: red;
$color-white: white;

$color1: rgba(255, 255, 255, 1);
$color2: rgba(61, 61, 61, 1);
$color3: rgba(211, 63, 73, 1);
$color4: rgba(46, 134, 171, 1);
$color5: rgba(56, 134, 89, 1);

$color-black: $color2;
$color-blue: darken($color4, 10);
$color-green: saturate($color5, 20);
$color-red: $color3;
$color-white: $color1;

$color-grey: mix($color-white, $color-black);
$color-grey-superlight: rgb(240, 240, 240);
$color-grey-superlight: mix($color-grey, $color-white, 10);

$color-background-secondary: $color-grey-superlight;
$color-background: $color-white;
$color-darken: $color-black;
$color-expense: $color-red;
$color-highlight: $color-green;
$color-income: $color-blue;
$color-neutral-light: $color-grey;
$color-neutral-extralight: mix($color-neutral-light, $color-white);
$color-neutral-extraextralight: mix($color-neutral-extralight, $color-white);
$color-neutral: $color-black;
$color-shadow: $color-grey;


/* --- SIZES --- */

$font-size-normal: 14px;
$font-size-big: 18px;
$font-size-small: 12px;

/* --- FONTS --- */

$font-family: arial, sans-serif;