:root {
    --color-red: red;
    --color-blue: blue;
    --color-black: black;
    --color-white: white;
    --color-green: green;

    --color-expense: var(--color-red);
    --color-income: var(--color-blue);
    --color-neutral: var(--color-black);
    --color-highlight: var(--color-green);
}

/* SASS */

$color-red: red;
$color-blue: blue;
$color-black: black;
$color-white: white;
$color-green: green;
$color-grey: grey;
$color-grey-superlight: rgb(240, 240, 240);

$color-expense: $color-red;
$color-income: $color-blue;
$color-neutral: $color-black;
$color-neutral-light: $color-grey;
$color-highlight: $color-green;
$color-shadow: $color-grey;
$color-background: $color-white;
$color-background-secondary: $color-grey-superlight;

$font-size-normal: 16px;
$font-size-big: 20px;
$font-size-small: 13px;