:root {
    --sum-height: 35px;
    --transactions-container-height: calc(100% - var(--sum-height));
}


.transactionsContainer {
    overflow-y: auto;
    height: var(--transactions-container-height);
    max-height: var(--transactions-container-height);
}

.total {
    font-size: 30px;
    height: var(--sum-height);
}