@import "../../utils/variables.css";

.commentContainer {
    color: var(--color-highlight);
}

.expense {
    color: var(--color-expense);
}

.income {
    color: var(--color-income);
}

.transactionContainer {
    max-width: 100%;
    padding: 5px;
}

.commentAmountContainer {
    display: flex;
}

.amountContainer {
    margin-left: auto;
}

.deleteButton {
    margin-left: auto;
}

.dateContainer {
    display: flex;
}