.commentContainer {
    color: green;
}

.expense {
    color: red;
}

.income {
    color: blue;
}

.transactionContainer {
    width: 100%
}

.commentAmountContainer {
    display: flex;
}

.amountContainer {
    margin-left: auto;
}

.deleteButton {
    margin-left: auto;
}

.dateContainer {
    display: flex;
}